{% load static %}
<!doctype html>
<html lang="en">

<head>
    <script src="https://use.fontawesome.com/9725f4c150.js"></script>

    <title>Detect Corona</title>
    <link rel='icon' href='{%  static "coronavirus-16.png" %}' type='image/x-icon'>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{%  static './css/contact.css' %}" />

</head>

<body>
    <div class="go-back center">
        <button class="btn btn-outline-primary"><i class="fa fa-arrow-left"></i><a href="/home"> Go back home</a>
        </button>
    </div>

    <div class="contact text-white text-center p-3">
        <h3>Contacts</h3>
        
        <p>Mahir Mahbub</p>
        <i class="fa fa-envelope"></i> bsse0807@iit.du.ac.bd
        <hr>
        <p>Tahlil</p>
        <i class="fa fa-envelope"></i> bsse0803@iit.du.ac.bd
        <hr>
        <p>Fahmid Ahmed</p>
        <i class="fa fa-envelope"></i> bsse0921@iit.du.ac.bd
        <hr>
        <p>Afia Sajeeda</p>
        <i class="fa fa-envelope"></i> bsse0832@iit.du.ac.bd
        <hr>
        <p>Toukir Ahammed</p>
        <i class="fa fa-envelope"></i> bsse0805@iit.du.ac.bd
        <hr>
        <p>Dr. B M Mainul Hossain <br> Associate Professor <br> IIT, Dhaka University</p>
        <i class="fa fa-envelope"></i> mainul@iit.du.ac.bd
       
        
    </div>
    <footer class="page-footer font-small blue text-center p-1">

        <div class="center">
            <span id="home" class="mr-3"><a href="/home">Home</a></span>
            <span id="contact" class="mr-3">Contact</span>
            <span id="submitData"><a href="/submitData">Submit Data</a></span>
        </div>



        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">©
            <script>
                document.write(new Date().getFullYear())
            </script> Copyright:
            <p>Disclaimer: the prepared model is based on a small biased Data Set. This system is in no way can be used for reliable prediction.</p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>