{% load static %}
<!doctype html>
<html lang="en">

<head>
    <script src="https://use.fontawesome.com/9725f4c150.js"></script>

    <title>Detect Corona</title>
    <link rel='icon' href='{%  static "coronavirus-16.png" %}' type='image/x-icon'>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{%  static './css/submit.css' %}" />

</head>

<body>

    <div class="go-back">
        <button class="btn btn-outline-primary"><i class="fa fa-arrow-left"></i><a href="/home"> Go back home</a>
        </button>
    </div>


    <div class="submitData text-white text-center p-3">
        <h3 style="border-bottom: solid 3px white;">Submit Data</h3>
        <form class="center mt-4">
            <div class="pt_box" class="mb-3" >
                <p class="patient"> Patient's info</p>
                <div class="row">
                    <label class="required">Age</label>
                    <input class="mx-auto" id="age" type="number" min="0" max="150" placeholder="Enter patient's age"
                        required="required" />
                </div>
                <div class="row select-gender">
                    <label class="required">Gender</label>
                    <div class="contain mx-auto">
                        <input id="Male" type="radio" name="gender" value="Male" />
                        <label for="Male">Male</label>
                    </div>
                    <div class="contain mx-auto">
                        <input id="Female" type="radio" name="gender" value="Female" />
                        <label for="Female">Female</label>
                    </div>
                    <div class="contain mx-auto">
                        <input id="Other" type="radio" name="gender" value="Other" />
                        <label for="Other">Other</label>
                    </div>
    
                </div>
                <div class="row center">
                    <label class="required">Does the patient has Covid 19?</label>
                    <div class="toggle-button-cover mx-auto mt-1">
                          <div class="button r" id="button-3">
                            <input id="check" type="checkbox" class="checkbox">
                            <div class="knobs"></div>
                            <div class="layer"></div>
                          </div>
                      </div>
                </div>
                <div class="row center">
                    <label for="description">Short history (Optional)</label>
                    <textarea name="description" class="mx-auto" cols="30" rows="7"></textarea>
                </div>
                <div class="row center">
                    <label class="required">X-ray Image File: </label>
                    <p id="fileChoose" class="mx-auto"><a class="btn btn-outline-secondary">Choose File</a></p>
                </div>
                <img class="mx-auto d-block" id="blah" src="#" alt="x-ray image" width="100px" height="80px" />
                <div class="badge badge-warning">The image should only contain the X-Ray</div>
                
            </div>
            <div class="pt_box mt-3">
                <p class="patient"> Submitter's info</p>
                <div class="row center">
                    <label for="email">Email / Phone number:</label>
                    <input type="email" name="email" id="emailOrPhone">
                </div>
                <div class="row center">
                    <label for="relation" class="required">Relation with patient ( doctor/ relative/ friend... )</label>
                    <input onkeypress="return /[a-z]/i.test(event.key)" name="relation" id="relation">
                </div>
            </div>
            <div class="row submit">
                <button class="ribbons mx-auto">Submit</button>
            </div>
        </form>
    </div>
    <footer class="page-footer font-small blue text-center p-1">

        <div class="center">
            <span id="home" class="mr-3 "><a href="/home">Home</a></span>
            <span id="contact" class="mr-3 "><a href="/contact">Contact</a></span>
            <span id="submitData">Submit Data</span>
        </div>

        <button id="err-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#err-alrt"
            style="display: none;"></button>
        

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">©
                <script>
                    document.write(new Date().getFullYear())
                </script> Copyright:
                <p>Disclaimer: At this moment, this system is in no way can be used for reliable prediction.</p>
            </div>
            <!-- Copyright -->
            <input id="fl" type="file" accept="image/*" style="display: none;" onchange="readURL(this);"/>

    </footer>
  
   <div class="modal fade" id="myModal">
        <div class="modal-dialog ">
            <div id="cntMod" class="modal-content p-3">
               
                <h3 id="msg" ></h3>
                <div class="modal-footer no-border">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">&times;</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="err-alrt">
        <div class="modal-dialog">
            <div class="modal-content bg-danger pb-3 px-2">
                <div class="modal-header no-border">
                    <button id="exit-btn" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <strong>Please give all the valid info.</strong>
                </button>
            </div>
        </div>
    </div>
    <button id="mBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
            style="display: none;">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
    <script type="text/javascript " charset="utf-8 " src="{% static 'js/submit.js' %} "></script>

</body>

</html>